
body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    background-color: #ffffff;
    width: 380px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #000;
}


input {
    width: 200px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}


.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

button {
    width: 45%; 
    padding: 12px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}


.btn-buscar {
    background-color: #1976d2; 
}

.btn-limpar {
    background-color: #e64a19; 
}


.resultado-container {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
}